.first{
    height: 1350px;
    background-color: #e0b195;
     
}

.first img{
    width:900px;
}

.title{
    display: flex;
    align-content:center;
    text-align: center;
    height: 1250px;
    flex-direction: column;
    /*justify-content: flex-end;*/
    
}

.title h2{
    display: flex;
    margin: 0px 70px 0px 70px;
    color: white;
    font-size: 7em;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

.title h4{
    font-size: 3em;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 10px 30px 10px 30px;
}
.top{
    margin: 10px 40px 10px 40px;
    text-align: center;
    font-size: 70px;
    font-weight: 600;
}
.text{
    padding: 30px;
}

.ceo img{
    width: 900px;
    margin-left: 30px;
}

.text p {
    
    font-size: 50px;
}

.text h2{
    font-size:5em;
    font-family: 'Merriweather', serif;
}

@media only screen and (min-width: 768px) {
    .ceo img{
        margin-left: 40px;
    }
    .text{
    padding: 30px;
    }
    
    .text p {
        font-size: 40px;
    }
    
}

@media only screen and (min-width: 1000px){
    
    .first{
        height: 690px;
    }
    
    .ceo, .pack{
        text-align: center;
    }
    
    .ceo img{
        width: 500px;
    }
    
    .pack img{
        width: 600px;
    }
    .title{
        height: 600px;
        font-size: 0.7em;
    }
    .title h2{
        display:block;
    }   
    
    .title h4{
        font-size: 2em;
    }
    
    .float{
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    
    .float img{
        float: right;
        width: 50%;
        margin:0;
    }
    
    .text{
        float: left;
        width: 50%;
    }
    
    .top{
        font-size:30px;
    }
    
    .text p {
        font-size: 20px;
        
    }

    .text h2{
         font-size: 40px;
    }
}